.main {
    display: flex;
    /* scale: 1.2; */
    z-index: 1;
    --s: 160px;  /* size  */
    --m: 0px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
    width: 100%;
}
.hex::before {/* Cube image */
    content: " ";
    position: absolute;
    display: inline-block;
    width: 200px; /* var(--s) + 40 */
    height: 200px;
    margin-top: -3px;
    margin-left: -9px;
    background-image: url(../images/cube.svg);
    background-size: 100% 100%;
}
#grid {
    font-size: 0; /*disable white space between inline block element */
    scale: 1.2;
}
#grid div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size: initial;
    /* clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%); */
    /* border-style: dotted;
    border-color: red;  */
    /* background-color: red; */
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
}
#grid::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 100%;
    shape-outside: repeating-linear-gradient(     
                #0000 0 calc(var(--f) - 3px),      
                #000  0 var(--f));
}